.home .intro img {
  width: 100%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    display: flex;
    flex-direction: column;
  }
  .home .space-images img.sky,
  .home .space-images img.launch {
    display: none;
  }
  .home .space-images img.blast {
    width: 100%;
    margin: 20px;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    order: 2;
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text button {
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 18px;
  border: 2px solid #22283a;
  background-color: #22283a;
  color: #f1f1f1;
}
@media (max-width: 500px) {
  .home .walk .walk-text button {
    width: 100%;
    padding: 15px;
  }
}
.home .walk .walk-text button:hover {
  background-color: #f1f1f1;
  color: #22283a;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    order: 1;
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
